@import url('./reset.css');
@import url('./global.css');

.divider-line {
    height: 3px;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btn-download:hover img{
    content: url("../images/download-light.svg");
}

.icon:hover{
    background-color: black;
}

.icon-1:hover img{
    content: url("../images/facebook-light.svg");
}
.icon-2:hover img{
    content: url("../images/twitter-light.svg");
}
.icon-3:hover img{
    content: url("../images/linkedin-light.svg");
}
.icon-4:hover img{
    content: url("../images/dribble-light.svg");
}

.bg-red{
    background-color: var(--bg-red-200);
}

.bg-orange{
    background-color: var(--bg-orange-200);
}

.bg-blue{
    background-color: var(--bg-blue-200);
}
